@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-logo:"Mexcellent", "sans-serif";
  --font-default: "OpenSans", "sans-serif";
  --font-hero: "Popins", "sans-serif";
  --color-custom-red: #FB0102;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: Mexcellent;
    src: url('./assets/Mexcellent\ 3d.otf') format("opentype");
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/OpenSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: Popins;
  src: url('./assets/Poppins-SemiBold.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}